html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.info-legend {
  background-color: transparent;
  line-height: 18px;
  color: white;
}

.info-legend j {
  width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.btn {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}

.btn:hover {
  background-color: slategrey;
}

#hero {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("earthquake.jpg");
  background-size: cover; /* cover entire hero screen */
  background-repeat: no-repeat; /* prevent tiling */
  background-attachment: fixed; /* hero image doesn't move */
}

#hero-text {
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
}

#hero-text h1 {
  font-size: 3.5em;
}

#hero a:link {
  color: cyan;
  font-weight: bold;
}


